<!-- 1) Crie um novo componente dentro do módulo exercicios (exercicio-dois).
2) Dentro do componente, crie uma propriedade idade do tipo number. Crie dois botões um para aumentar a idade e outro para diminuir.
Obs: Colocar ExercicioDoisComponent dentro do exports de exercicios.module -->

<h3>Exercício-dois</h3>
<hr />
<!-- Estilização condicional com duas classes-->
<h2 [ngClass]="{ 'maior-idade': idade > 18, 'menor-idade': idade <= 18 }">
  {{ idade }}
</h2>

<!-- Estilização condicional com uma classe-->
<!-- <h2 [class.maior-idade]="idade > 18">{{ idade }}</h2> -->

<!-- Diretiva estrutural -->
<!-- if-->
<p *ngIf="idade > 18">Maior de Idade</p>

<!-- else -->
<p *ngIf="idade <= 18">Menor de Idade</p>

<section>
  <button (click)="aumentar()">Aumentar</button>
  <button (click)="diminuir()">Diminuir</button>
</section>
