<router-outlet></router-outlet>
<!--
<section>
  <h3>Interpolação</h3>
  <hr />
  <p>{{ nome }}</p>
  <p>Seja bem-vindo(a), {{ nome }}!</p>
  <p>Você tem {{ idade }} anos.</p>
  <p>Seu nome é {{ nome | uppercase }}.</p>
  <p>Soma de 1 + 1 é: {{ 1 + 1 }}.</p>
  <p>Você nasceu em: {{ calculaAnoNascimento() }}.</p>
</section>

<section>
  <h3>Event binding</h3>
  <hr /> -->
<!-- <img
    src="{{ linkImagem }}"
    height="{{ alturaImagem }}"
    width="{{ larguraImagem }}"
  /> -->

<!-- Property Binding  -->
<!-- <img [src]="linkImagem" [height]="alturaImagem" [width]="larguraImagem" />

  <br />
  <p>{{ larguraImagem }} x{{ alturaImagem }}</p>
  <button (click)="aumentar()">Aumentar</button>
  <button (click)="diminuir()">Diminuir</button>
</section> -->

<!-- Não precisa mostrar aqui porque as rotas foram feitas -->
<!-- <app-exercicio-um></app-exercicio-um>
<app-data-binding></app-data-binding>
<app-exercicio-dois></app-exercicio-dois> -->
